body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D3D3D3;
}

header img {
    width: 140px;
}

header:after {
    content: "";
    background: url(/img/fundoheader.jpg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    height: 241px;
    width: 100%;
}

.caixa {
    position: relative;
    width: 940px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

nav {
    position: absolute;
    top:90px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;

}

.produtos {
    width: 940px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 31px;
}

.produtos h2 {
    font-size: 29px;
    font-weight: bold;
}

.descricao {
    font-size: 17px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-image: url('/img/bg.jpg');
    padding: 20px 0px;
}

footer img {
    width: 100px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 400px) {
    .caixa, .principal, .conteudo-beneficios, .conteudo-mapa, .video {
        width: auto;
    }

    header:after {
        height: 284px;
    }

    .logo img {
        text-align: center;
    }

    nav {
        position: static;
        margin-top: 20px;
        margin-left: -12px;
    }

    .main {
        text-align: center;
    }
}